    <html>
        <head>
            <title>Sunday School Lessons</title>
            <link rel='stylesheet' media='all' href='/lessons.css' />
        </head>
        <body>
            <h1>Lessons from Luke</h1>
            {{{content}}}
        </body>
    </html>