<script>
    function onClickCheck() {
        const enabled = document.getElementById("done-check").checked;
        document.getElementById("finish-button").disabled = !enabled;
    }
</script>

<form action="/unlock" method="POST">
    <div data-show="{{showUnlockButton}}">
        <h2>{{t.Finish}}</h2>
        
        <label>
            <input id="done-check" type="checkbox" onclick="onClickCheck()" />
            {{t.DoneWorking}}
        </label>
        <p>
        <button id="finish-button" type="submit" class="big" disabled>
            {{t.Finish}}
        </button></p>
    </div>
</form>