<style>
    table {
        table-layout: fixed;
    }
</style>

<div id="projectLessonHistory">
    <a href="/projects/{{projectId}}">&lt;&lt; {{targetLang}}</a>

    <h2>History: {{lesson}}</h2>

    {{#history}}
        <h3>{{timestamp}}</h3>
        <table>
            <tbody>
                {{#tStrings}}
                    <tr>
                        <td>{{src}}</td>
                        <td>{{targetText}}</td>
                    </tr>
                {{/tStrings}}
            </tbody>
        </table>
        <hr />
    {{/history}}
</div>