<style>
    tr:not([data-mtString=true]) {
        color: #adb1b1;
    }
    table {
        table-layout: fixed;
    }
</style>

<div id="projectLesson">
    <a href="/projects/{{projectId}}">&lt;&lt; {{targetLang}}</a>

    <h2>{{lesson}}</h2>

    <table>
        <tbody>
            {{#tStrings}}
                <tr data-mtString={{mtString}}>
                    <td>{{src}}</td>
                    <td>{{targetText}}</td>
                </tr>
            {{/tStrings}}
        </tbody>
    </table>
</div>