<style>
    #addProjectForm label {
        padding-bottom: 6px;
    }
    table h4 {
        margin: 1em 0 0;
    }
</style>

<div id="projectList">
    <h2>Projects</h2>
    <table>
        <tbody>
            {{#projects}}
                {{> projectListItem}}
            {{/projects}}
            <tr>
                <td colspan="4">
                    <h4 data-show="{{showFullTransProjects}}">
                        Full Translations
                    </h4>
                </td>
            </tr>
            {{#fullTransProjects}}
                {{> projectListItem}}
            {{/fullTransProjects}}
        </tbody>
    </table>

    <hr />

    <h2>Add Project</h2>
    <form action="/projects" method="post" class="left-bar">
    <div id="addProjectForm">
        <label>
            Source:
            <select name="sourceLang">
                {{#sourceLangs}}
                    <option value="{{.}}">{{.}}</option>
                {{/sourceLangs}}
            </select>
        </label>
        <label>
            Target:
            <input type="text" name="targetLang" placeholder="Language" required />
        </label>
        <label>
            <input type="checkbox" name="fullTranslation" />
            Full Translation
        </label>
        <p>
        <button type="submit">Create</button>
        </p>
        </div>
    </form>
</div>