<style>
    .diff-old {
        font-weight: 100;
        font-color: #999;
    }
    .diff {
        padding: 12px;
    }
</style>

<div id="usfmTranslated">
    <p><a href="/">&lt;&lt; Home </a></p>
    <p><a href="/projects/{{projectId}}">&lt;&lt; {{targetLang}}</a></p>
    <h2>{{targetLang}} USFM Import</h2>

    <table>
        <tbody>
            {{#parseErrors}}
                <tr>
                    <td class="error">{{.}}</td>
                </tr>
            {{/parseErrors}}
        </tbody>
    </table>

    <table style="margin-top: 30px;">
        <tbody>
            {{#lessonDiffs}}
                <tr>
                    <th colspan="3" style="text-align: left;">{{lesson}}</th>
                </tr>
                {{#diff}}
                    <tr>
                        <th style="width: 80px;" />
                        <td class="diff diff-old">{{old}}</td>
                        <td class="diff diff-new">{{new}}</td>
                    </tr>
                {{/diff}}
            {{/lessonDiffs}}
        </tbody>
    </table>


    <p><a href="/projects/{{projectId}}">&lt;&lt; {{targetLang}}</a></p>
    <p><a href="/">&lt;&lt; Home </a></p>
</div>