/* Colors :
  Grey: #4c5454
  Light Grey: #adb1b1
  Orangish: #ff715b
  Green: #1ea896
  Brown: #523f38
*/

html {
    font-family: Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    background-color: #4c5454;
}

body, div {
    display: flex;
    flex-direction: column;
}

body {
    max-width: 800px;
    margin: 0 auto 24px;
    padding: 0;
    background-color: white;
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,1);
}

header {
    background-color: #1ea896;
    padding: 8px 12px;
    -webkit-box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.4);
}

header h1 {
    color: white;
}

#content {
    padding: 12px 12px 30px;
}

h1, h2, h3, h4, h5 {
    color: #ff715b;
}

hr {
    border: 0;
    height: 1px;
    background-color: #1ea896;
    margin: 24px;
    background: linear-gradient(to right, #fff, #bbb, #fff)
}

a {
    color: #1ea896;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.subdued {
    color: #4c5454;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:hover {
    background-color: #00000011;
}

th {
    font-weight: 200;
    font-size: larger;
}

th, td {
    text-align: left;
    padding: 4px 8px;
    vertical-align: top;
}

td.progress {
    padding-left: 8px;
    color: #adb1b1;
    font-size: smaller;
    text-align: right;
}

.noShow {
    display: none;
}

td.done, span.done {
    color: #1ea896
}

textarea {
    font-family: inherit;
}

button {
    color: white;
    background-color: #1ea896;
    border-width: 0;
    padding: 4px 8px;
    margin: 0 12px 12px 0;
    box-shadow: 1px 1px 0 #00000033;
    cursor: pointer;
}

button.red {
    background-color: #ff715b;
}

button:active {
    background-color: #198a7b;
}

button:active.red {
    background-color: #d15d4b;
}

button:disabled {
    cursor: not-allowed;
    background-color: #1ea89699;
}

.error {
    color: #ff715b;
}

ul.inline {
    padding: 0;
}

ul.inline li {
    display: inline-block;
    padding-right: 8px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 4px 8px;
}

[data-hide=true] {
    display: none;
}

[data-show=false] {
    display: none;
}

button.big {
    font-size: 18px;
    padding: 8px 16px;
}

td.mtString {
    font-weight: bold;
}

table.translation td.mtString {
    padding-top: 12px;
    padding-bottom: 12px;
}

div.form-input {
    margin: 4px 0;
}

input {
    font-size: 12px;
    padding: 2px 4px;
}

.left-bar {
    border-left: 6px solid #1ea896;
    padding: 8px 12px;
}

input::placeholder, textarea::placeholder {
    font-size: small;
}

label {
    font-weight: 200;
    color: #4c5454;
}

td.otherString {
    color: #4c5454;
}

p.desktop-sync-message {
    border: 2px #1ea896 solid;
    border-radius: 4px;
    color: #1ea896;
    padding: 6px;
}

p.desktop-sync-message[data-need-to-sync=true] {
    border-color: #8f7e4f;
    color: #8f7e4f;
}

p.desktop-sync-message[data-display=false] {
    display: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.sticky-bar {
    position: sticky;
    top: 0;
    background-color: #ffffffee;
}
