body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

#content {
    padding: 0 12px 30px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.subdued {
    color: #999;
    font-weight: normal;
}

td.progress {
    padding-left: 8px;
    color: #aaa;
    font-size: smaller;
}

.noShow {
    display: none;
}

td.done, span.done {
    color: #2e8b57
}

textarea {
    font-family: inherit;
}

/* Was used on translate page */
/* th {
    font-size: smaller;
    padding-right: 12px;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
} */

button {
    color: white;
    background-color: #337ab7;
    border-width: 0;
    padding: 4px 8px;
    margin: 0 12px 12px 0;
    box-shadow: 1px 1px 0 #00000033;
    cursor: pointer;
}

button.red {
    background-color: #c9302c;
}

button:active {
    background-color: #204d74;
}

button:active.red {
    background-color: #800000
}

.error {
    color: #800000
}

ul.inline {
    padding: 0;
}

ul.inline li {
    display: inline-block;
    padding-right: 8px;
}

header {
    background-color: #000;
    color: #fff;
    padding: 2px 24px;
}

#translateLesson input,
#translateLesson textarea {
    width: 100%;
    font-size: larger;
}
button.big {
    font-size: 18px;
    padding: 8px 16px;
}

td.mtString {
    font-weight: bold;
}

table.translation td.mtString {
    padding-top: 12px;
    padding-bottom: 12px;
}

input::placeholder, textarea::placeholder {
    font-size: small;
}

td.otherString {
    color: #666;
}