<!--
<style>
    #container {
        display: flex;
    }
    #sidebar {
        background-color: #eee;
    }
    #main {
        flex: 1;
        padding-left: 18px;
    }
</style>
-->

<div id="adminHome">
    {{> sourceLangList}}
    {{> projectList}}
</div>