<div id="downSyncProgress">
    <h2>
        {{t.DownloadingLessons}}<br />
        <span class="subdued">{{percent}}%</span>
    </h2>

    <div data-show="{{error}}">
        <b class="error">{{t.DownloadError}}</b>
        <button onclick="document.location='/fetchLesson'">
            {{t.TryAgain}}
        </button>
    </div>

    <table>
        <tbody>
            {{#lessons}}
                <tr>
                    <td>{{name}}</td>
                    <td>
                        <div data-show="{{done}}">✓</div>
                    </td>
                </tr>
            {{/lessons}}
        </tbody>
    </table>
</div>
<script>
    if (!{{error}}) {
        document.location="/fetchLesson"
    }
</script>