<style>
    .merged-note,
    .edited-note {
        display: none;
        font-size: smaller;
        color: #aaa;
        margin-top: 4px;
        font-weight: normal;
    }
    .merge-in-progress,
    .text-input,
    .edit-in-progress,
    .delete-in-progress {
        display: none;
    }
    #editSrcStrings table {
        border-collapse: collapse;
    }
    #editSrcStrings td {
        border-top: 1px solid #eee;
        padding: 6px 10px;
        vertical-align: top;
    }
    td.text {
        max-width: 600px;
        font-size: larger;
    }
    div.text span {
        font-style: italic;
    }
    div.text span.added {
        color: #028A0F
    }
</style>

<script src="/editSrcStrings.js"></script>

<h2>{{lesson}}</h2>

<div id="editSrcStrings">
    <table>
        <tbody>
            {{#srcStrings}}
                <tr id="Row-{{id}}" data-id="{{id}}">
                    <td class="text {{tdClass}}">
                        <div class="text">
                            {{text}}
                        </div>
                        <div class="text-input">
                            <input type="text" />
                        </div>
                        <div class="merged-note">Merged</div>
                        <div class="edited-note">Edited</div>
                    </td>
                    <td class="edit">
                        <div class="base-buttons">
                            <button onclick="mergeNext('{{id}}')">
                                Merge Next
                            </button>
                            <button onclick="edit('{{id}}')">Edit</button>
                            <button class="red" onclick="deleteItem('{{id}}')">Delete</button>
                        </div>
                        <div class="merge-in-progress">
                            <button onclick="addMergeSpace('{{id}}')">Add Space</button>
                            <button onclick="confirmMerge('{{id}}')">Merge</button>
                            <button onclick="cancelMerge('{{id}}')" class="red">Cancel</button>
                        </div>
                        <div class="edit-in-progress">
                            <button onclick="saveEdit('{{id}}')">Done</button>
                        </div>
                        <div class="delete-in-progress">
                            <button onclick="cancelDelete('{{id}}')">Cancel</button>
                            <button class="red" onclick="confirmDelete('{{id}}')">Confirm Delete</button>
                        </div>
                </tr>
            {{/srcStrings}}
        </tbody>
    </table>
    <form action="{{submitUrl}}" method="post" id="editSrcStringsForm">
        <button type="submit" class="big">Save</button>
    </form>
</div>