<html>
    <head>
        <title>Sunday School Lessons</title>
        <link rel='stylesheet' media='all' href='{{cssPath}}' />
    </head>
    <body>
        <header>
            <a href="/">
                <h1>Lessons from Luke</h1>
            </a>
        </header>
        <div id="content">
            {{{content}}}
        </div>
    </body>
</html>