<form action='/login' method='post'>
    <div>
      <p>
        <input type='text' name='username' placeholder='Username' />
      </p>
      <p>
        <input type='password' name='password' placeholder='Password' />
      </p>
      <p class="error">
        {{errorMessage}}
      </p>
      <p>
        <button type='submit' class='big'>Log in</button>
      </p>
    </div>
</form>