<div id="projectList">
    <h2>Projects</h2>
    <table>
        <tbody>
            {{#projects}}
                <tr>
                    <td>
                        <a href="/projects/{{projectId}}">
                            {{targetLang}}
                        </a>
                    </td>
                    <td>
                        <a href="/translate/{{projectCode}}" target="_blank">
                            Translate
                        </a>
                </tr>
            {{/projects}}
        </tbody>
    </table>

    <h4>Add Project</h4>
    <form action="/projects" method="post">
        <label>
            Source:
            <select name="sourceLang">
                {{#sourceLangs}}
                    <option value="{{.}}">{{.}}</option>
                {{/sourceLangs}}
            </select>
        </label>
        <input type="text" name="targetLang" placeholder="Target Language" required />
        <button type="submit">Create</button>
    </form>
</div>