<style>
    th {
        font-weight: normal;
    }
    td {
        font-size: small;
        padding: 4px 8px;
    }
    div.unlock {
        margin-top: 30px;
    }
    .unlockButton {
        margin: 0;
        font-size: large;
    }
    .unlockWarning {
        font-size: small;
        color: #ff715b;
    }
</style>

<div id="project">
    <a href="/">&lt;&lt; Home </a>

    <div class="flex-row">
        <h2>{{targetLang}}</h2>

        <a href="/translate/{{projectCode}}" target="_blank" style="font-size: x-large;">
            Translate
        </a>
    </div>

    <div data-hide="{{locked}}">
        <h3>Upload Bible Text File (*.SFM)</h3>
        <form action="/projects/{{projectId}}/usfm" method="post" encType="multipart/form-data" class="left-bar">
            <input type="file" name="usfmFile" required />
            <button type="submit">Upload and Insert Translations</button>
            <div class="form-input" style="font-size: smaller;"><label><input type="checkbox" name="overwrite" checked />Overwriting Exising Translations</label></div>
        </form>
    </div>

    <div data-show="{{updatesAvailable}}">
        <h3>Update this project to the latest sources</h3>
        <div class="left-bar" style="margin-bottom: 30px">
            <a href="/projects/{{projectId}}/update">
                <button>Update</button>
            </a>
        </div>
    </div>

    <table>
        <tbody>
            {{#lessons}}
                <tr>
                    <th>{{lesson}}</th>
                    <td class="subdued">[{{sourceLang}} v{{version}}]</td>
                    <td class="progress">
                        <span class="{{extraProgressClass}}">
                            {{progress}}%
                        </span>
                    </td>
                    <td>
                        <a href="/documents/translation/{{projectId}}/{{targetLang}}-{{lesson}}.odt">
                            Download
                        </a>
                    </td>
                </tr>
            {{/lessons}}
        </tbody>
    </table>

    <div data-show="{{locked}}" class="unlock">
        <form action="/projects/{{projectId}}/unlock" method="post">
            <h3>Desktop lock in place</h3>
            <button class="red unlockButton" type="submit">Unlock</button>
            <p class="unlockWarning">The existing desktop install will no longer have access to this project.</p>
        </form>
    </div>
</div>