<tr>
    <th>
        <a href="/projects/{{projectId}}">
            {{targetLang}}
        </a>
    </th>
    <td class="progress">
        {{projectProgress}}
    </td>
    <td>
        <a href="/translate/{{projectCode}}" target="_blank">
            Translate
        </a>
    </td>
    <td>
        <div data-show="{{projectLocked}}" style="font-size: small">
            [Desktop Lock]
        </div>
    </td>
</tr>