<div id="projectList">
    <h2>Projects</h2>
    <table>
        <tbody>
            {{#projects}}
                <tr>
                    <th>
                        <a href="/projects/{{projectId}}">
                            {{targetLang}}
                        </a>
                    </th>
                    <td class="progress">
                        {{projectProgress}}
                    </td>
                    <td>
                        <a href="/translate/{{projectCode}}" target="_blank">
                            Translate
                        </a>
                    </td>
                    <td>
                        <div data-show="{{projectLocked}}" style="font-size: small">
                            [Desktop Lock]
                        </div>
                    </td>
                </tr>
            {{/projects}}
        </tbody>
    </table>


    <h4>Add Project</h4>
    <form action="/projects" method="post" class="left-bar">
        <label>
            Source:
            <select name="sourceLang">
                {{#sourceLangs}}
                    <option value="{{.}}">{{.}}</option>
                {{/sourceLangs}}
            </select>
        </label>
        <input type="text" name="targetLang" placeholder="Target Language" required />
        <button type="submit">Create</button>
    </form>
</div>