<div id="translateIndex">
    {{> syncMessage}}
    <h2>{{t.Lessons}}</h2>

    <table>
        <tbody>
            {{#lessons}}
                <tr>
                    <td>
                        <a href="{{baseUrl}}/lesson/{{lesson}}">
                            {{lesson}}
                        </a>
                    </td>
                    <td class="progress {{extraProgressClass}}">
                        {{progress}}%
                    </td>
                </tr>
            {{/lessons}}
        </tbody>
    </table>
</div>