<div id="translateLesson">
    <h3>
        <a href="{{projectUrl}}">
            &lt;&lt; Lessons
        </a>
    </h3>

    <div>
        <form action="{{lessonUrl}}" method="post">
            <button class="big" type="submit">{{t.Save}}</button>

            <table class="translation">
                <tbody>
                    {{#strings}}
                        <tr>
                            <td class="{{className}}">{{src}}
                                <span style="display: {{editDisplay}}">
                                    <input style="display: {{inputDisplay}}" 
                                            {{inputDisabled}}
                                            type="text" 
                                            name="{{id}}" 
                                            value="{{targetText}}"
                                            placeholder="{{targetLang}}" />
                                    <textarea style="display: {{areaDisplay}}" 
                                                {{areaDisabled}}
                                                name="{{id}}" 
                                                rows="4"
                                                placeholder="{{targetLang}}">{{targetText}}</textarea>
                                </span>
                            </td>
                        </tr>
                    {{/strings}}
                </tbody>
            </table>

            <button class="big" type="submit">{{t.Save}}</button>
        </form>
    </div>
</div>

