<style>
    td {
        padding: 0 4px 8px 0;
    }
</style>

<div id="translateIndex">
    {{> syncMessage}}
    <h2>{{project.targetLang}}</h2>

    <p data-show="{{projectLocked}}" class="error">
        {{t.LockedMessage}}
    </p>

    <table>
        <tbody>
            {{#project.lessons}}
                <tr>
                    <td>
                        <div data-hide="{{projectLocked}}">
                            <a href="{{baseUrl}}/lesson/{{lesson}}">
                                {{lesson}}
                            </a>
                        </div>
                        <div data-show="{{projectLocked}}">
                            {{lesson}}
                        </div>
                    </td>
                    <td class="progress">
                        <span class="{{extraProgressClass}}">
                            {{progress}}%
                        </span>
                    </td>
                    <td data-show="{{contextWeb}}" style="font-size:small">
                        <a href="/documents/translation/{{projectId}}/{{project.targetLang}}-{{lesson}}.odt">
                            {{lesson}}.odt
                        </a>
                    </td>
                </tr>
            {{/project.lessons}}
        </tbody>
    </table>
</div>