<script src="{{jsPath}}"></script>

<style>
    td {
        padding-right: 8px;
    }
    p.saved {
        font-size: xx-small;
        color: #1ea896;
        font-weight: 200;
        margin-top: 2px;
        display: none;
    }
    textarea {
        padding: 4px;
        width: 100%;
        font-size: larger;
    }
    input {
        padding: 2px;
        width: 100%;
        font-size: larger;
    }
</style>

<div id="translateLesson" data-api-url="{{apiUrl}}">
        <form action="{{lessonUrl}}" method="post">
            <div class="sticky-bar">
                <div class="flex-row">
                    <h3>
                        <a href="{{projectUrl}}">
                            &lt;&lt; Lessons
                        </a>
                    </h3>
                    <button class="big" type="submit">{{t.Save}}</button>
                </div>
            </div>

            <table class="translation">
                <tbody>
                    {{#strings}}
                        <tr>
                            <td class="{{className}}">{{src}}
                                <span style="display: {{editDisplay}}">
                                    <input style="display: {{inputDisplay}}" 
                                            {{inputDisabled}}
                                            type="text" 
                                            name="{{id}}" 
                                            value="{{targetText}}"
                                            placeholder="{{targetLang}}"
                                            onblur="blurInput({{id}})"
                                            oninput="clearSaved({{id}})" />
                                    <textarea style="display: {{areaDisplay}}" 
                                                {{areaDisabled}}
                                                name="{{id}}" 
                                                rows="4"
                                                placeholder="{{targetLang}}"
                                                onblur="blurTextarea({{id}})"
                                                oninput="clearSaved({{id}})"
                                        >{{targetText}}</textarea> <!-- Can't have extra whitespace inside <textarea> tag, or it show up in input -->
                                </span>
                                <p class="saved" id="saved-{{id}}">{{t.Saved}}</p>
                            </td>
                        </tr>
                    {{/strings}}
                </tbody>
            </table>
            <div style="align-items: flex-end; margin-top: 24px;">
                <button class="big" type="submit">{{t.Save}}</button>
            </div>
        </form>
    </div>
</div>

