<form action='/documents' method='post' encType='multipart/form-data'>
    <div>
        <h3>Upload Source Document</h3>
        <p>
            <input type='text' name='language' placeholder='Language' />
        </p>
        <p>
            <label>
                Lessons from 
                <select name='series'>
                    <option value='Luke'>Luke</option>
                    <option value='Acts'>Acts</option>
                </select>
            </label>
        </p>
        <p>
            <input type='file' name='document' accept='application/vnd.oasis.opendocument.text' />
        </p>
        <p class="error">{{uploadError}}</p>
        <button type='submit'>Upload</button>
    </div>
</form>