<p class="error">
    The translation project is no longer locked to this computer. Please contact the system administrator to continue translation.
</p>

<p class="error">
    Le projet de traduction n'est plus verrouillé pour cet ordinateur. Veuillez contacter l'administrateur si vous voulez continuer la traduction.
</p>